<a href="https://colab.research.google.com/github/remjw/data/blob/master/advanced_ch5_ex.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

5.3 Given a list of heights in inches, the code maps the list to a list of tuples containing original height values and their corresponding values in meters. There are 0.0254 meters per inch. For example,  the height 69 inches in the given list should be mapped to a tuple (69, 1.7526) in the new list.

In [ ]:
# 1. using list comprehension
[ (x, x * 0.0254) for x in [69, 77, 54] ]

[(69, 1.7526), (77, 1.9558), (54, 1.3716)]

In [ ]:
# 2. using map function 
list( map(lambda x: (x, x * 0.0254), [69, 77, 54]) )

[(69, 1.7526), (77, 1.9558), (54, 1.3716)]

5.4 Create a 2-by-3 list, then use a nested loop to:

- Set each element's value to an integer indicating the order in which it was processed by the nested loop.

- Display the elements in tabular format. Use column indexes as headings across the top, and the row indices to the left of each row.

In [14]:
N_row, N_col = 2, 3
X = [[0 for i in range(N_col)] for j in range(N_row)]

order = 0
for i in range(N_row):
  for j in range(N_col):
    order += 1
    X[i][j] = order

# display
for j in range(N_col):
  print(f'\t[{j}]', end='') 

for i in range(N_row):
  print()
  print(f'[{i}]', end='')
  for j in range(N_col):
    print(f'\t {X[i][j]}', end='')

	[0]	[1]	[2]
[0]	 1	 2	 3
[1]	 4	 5	 6