<a href="https://colab.research.google.com/github/remjw/data/blob/master/advanced_ch5_ex.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

5.3 Given a list of heights in inches, the code maps the list to a list of tuples containing original height values and their corresponding values in meters. There are 0.0254 meters per inch. For example,  the height 69 inches in the given list should be mapped to a tuple (69, 1.7526) in the new list.

In [ ]:
# 1. using list comprehension
[ (x, x * 0.0254) for x in [69, 77, 54] ]

[(69, 1.7526), (77, 1.9558), (54, 1.3716)]

In [ ]:
# 2. using map function 
list( map(lambda x: (x, x * 0.0254), [69, 77, 54]) )

[(69, 1.7526), (77, 1.9558), (54, 1.3716)]

5.4 Create a 2-by-3 list, then use a nested loop to:

- Set each element's value to an integer indicating the order in which it was processed by the nested loop.

- Display the elements in tabular format. Use column indexes as headings across the top, and the row indices to the left of each row.

In [ ]:
N_row, N_col = 2, 3
X = [[0 for i in range(N_col)] for j in range(N_row)]

order = 0
for i in range(N_row):
  for j in range(N_col):
    order += 1
    X[i][j] = order

# display
for j in range(N_col):
  print(f'\t[{j}]', end='') 

for i in range(N_row):
  print()
  print(f'[{i}]', end='')
  for j in range(N_col):
    print(f'\t {X[i][j]}', end='')

	[0]	[1]	[2]
[0]	 1	 2	 3
[1]	 4	 5	 6

### 5.5 Slicing

In [ ]:
# create alphabet set in a string
alphabet = ''.join([ chr(c) for c in range(97, 123)])
alphabet

'abcdefghijklmnopqrstuvwxyz'

In [ ]:
#a : the first half using start:end
mid = int(len(alphabet)/2)
print(alphabet[0:mid])

abcdefghijklm

In [ ]:
#b: 1st half using end index only
print(alphabet[:mid])

abcdefghijklm

In [ ]:
#c: 2nd half using start:end
end = len(alphabet)
print(alphabet[mid:end])
#d: using start only
print(alphabet[mid:])

nopqrstuvwxyz
nopqrstuvwxyz

In [ ]:
#e: Every 2nd letter starting with 'a'
print(alphabet[::2])
# every 2nd letter starting with 'c'
print(alphabet[2::2])

acegikmoqsuwy
cegikmoqsuwy

In [ ]:
#f: entire string in reverse
print(alphabet[::-1])

In [ ]:
#g: Every 3rd letter of the string starting with 'b'
print(alphabet[1::3])

#g: Every 3rd letter of the string in reverse starting with 'z'
print(alphabet[::-3])

behknqtwz
zwtqnkheb

### 5.6 Function Returning Tuples

Define a function `rotate` that receives three arguments and returns a tuple in which the first argument is at index 1, the second argument is at index 2, and the third argument is at index 0. Define variables a, b and c containing 'Doug', 22 and 1984. Then call the functions three times. For each call, unpack its result into a, b and c, then display their values.

In [ ]:
def rotate(a, b, c):
  return (c, a, b)

a, b, c = 'Doug', 22, 1984

a, b, c = rotate(a, b, c)
print(a, b, c)
a, b, c = rotate(a, b, c)
print(a, b, c)
a, b, c = rotate(a, b, c)
print(a, b, c)

1984 Doug 22
22 1984 Doug
Doug 22 1984

### 5.7 Eliminate Duplicate

1. Create a function that receives a list and returns a (possibly shorter) list containing only the unique values. Test your function with a list of numbers and a list of strings.

In [ ]:
def remove_duplicate(X):
  C = []
  for x in X:
    if x not in C: 
      C.append(x)
  return C

# test fun
A = [3,9,0,0,9,7,3,0,-1]
print(remove_duplicate(A))

B = list(['apple']*3 + ['kiwi']*2 + ['a', 'z'])
print(remove_duplicate(B))

[3, 9, 0, 7, -1]
['apple', 'kiwi', 'a', 'z']

2. Create a function that receives a list and returns a (possibly shorter) list containing only the **unique values in sorted order**. Test your function with a list of numbers and a list of strings.

In [ ]:
def get_unique_asc(X):
  '''take a numeric list X
  return a list C having its unique values in ascending order
  '''
  # get distincts 
  C = []
  for x in X:
    if x not in C: 
      C.append(x)
  return sorted(C) # descending: sorted(C,reverse=1)

  # test fun
A = [3,9,0,0,9,7,3,0,-1]
print(get_unique_asc(A))

B = list(['apple']*3 + ['kiwi']*2 + ['a', 'z'])
print(get_unique_asc(B))

[9, 7, 3, 0, -1]
['z', 'kiwi', 'apple', 'a']

### 5.9 Palindrome Tester

A string that reads the same backward as forward, like 'radar' is a palindrome. Write a function is_palindrome that takes a string and return True if it is a palindrome and False otherwise. **Your function should ignore case sensitiviety, spaces and punctuation.**

The String's `isspace() method` returns True if there are only whitespace characters in the string

In [ ]:
# get punctuation list
import string
PUNC = string.punctuation
print(PUNC)

!"#$%&'()*+,-./:;<=>?@[\]^_`{|}~

In [ ]:
def is_palindrome(word):
  # clean
  S = list()
  for c in word.lower():
    if c not in PUNC and c.isspace()==False:
      S.append(c)

  # test
  # return S == S[::-1]
  N = len(S)
  left, right = 0, N-1
  while left < right and S[left] == S[right]:
    left += 1
    right -= 1

  if left >= right:
    return True  
  else: 
    return False

test_input = ['--Rad ar..','Ray', 'mad*am', '_madam_', '*1 **', '123', '1991']      
for e in test_input:
  print(is_palindrome(e))

True
False
True
True
True
False
True

### 5.12 Telephone number word generator

Given a 7-digit number, returns every possible seven-letter word combination according to the given mapping rules:

```
2:('A', 'B', 'C')
3:('D', 'E', 'F')
4:('G', 'H', 'I')
5:('J', 'K', 'L') 
6:('M', 'N', 'O') 
7:('P', 'R', 'S') 
8:('T', 'U', 'V') 
9:('W', 'X', 'Y')
```

For example, `244-3282` has a combination `BIGDATA`. Each phone number has 2,187 ($3^7$) combinations. 

Avoid phone numbers with the digits 0 and 1 (no associated letters) which will raise `KeyError`.

In [99]:
# Mapping table in associated array
DIGITS = [2, 3, 4, 5, 6, 7, 8, 9]
LETTERS =[ # a list of tuples
('A', 'B', 'C'),
('D', 'E', 'F'),
('G', 'H', 'I'),
('J', 'K', 'L'),
('M', 'N', 'O'), 
('P', 'R', 'S'),
('T', 'U', 'V'), 
('W', 'X', 'Y')
]

def generate_words(phone):
  # 1. remove -
  phone = phone.replace('-', '')
  print(phone)
  # 2. collect all 7 letter sets in order
  letter_set = []
  try:
    for d in phone:
      ind = DIGITS.index(int(d))
      letter_set.append(LETTERS[ind])  
  except KeyError as e:
    print('The app does not take a number with the digits 0 and 1.')
    return
  # print 7 letter sets
  print(letter_set)

  # 3. use generator expression (lazy evaluation)
  words = ( # makes an iterable generator object
      ''.join([w0, w1, w2, w3, w4, w5, w6])
      for w0 in letter_set[0]
      for w1 in letter_set[1]
      for w2 in letter_set[2]
      for w3 in letter_set[3]
      for w4 in letter_set[4]
      for w5 in letter_set[5]
      for w6 in letter_set[6]
  )
  return words 
  

# test run
words = generate_words('244-3282')
result = list(words)
first, last = 0, 2186
print(result[0], result[last])
# print first 10 words
i = 0
for w in result:
  i += 1
  if i < 10:
    print(w)

2443282
[('A', 'B', 'C'), ('G', 'H', 'I'), ('G', 'H', 'I'), ('D', 'E', 'F'), ('A', 'B', 'C'), ('T', 'U', 'V'), ('A', 'B', 'C')]
AGGDATA CIIFCVC
AGGDATA
AGGDATB
AGGDATC
AGGDAUA
AGGDAUB
AGGDAUC
AGGDAVA
AGGDAVB
AGGDAVC

Using Dictionary

In [ ]:
# Mapping table in a dictionary 
LOOKUP = {
2:('A', 'B', 'C'),
3:('D', 'E', 'F'),
4:('G', 'H', 'I'),
5:('J', 'K', 'L'),
6:('M', 'N', 'O'), 
7:('P', 'R', 'S'),
8:('T', 'U', 'V'), 
9:('W', 'X', 'Y'),
}