<a href="https://colab.research.google.com/github/remjw/data/blob/master/matrix-2d-list.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## _Prefix_
A lot of userful datasets are structured in two dimensions, similar to a table. The common names are:

- 2D matrix
- 2D list
- 2D array
- 2D series
- DataFrame

FYI:
**Pandas** is a software library written for the Python programming language for data manipulation and analysis. In particular, it offers data structures and operations for manipulating `numerical tables` and `time series`. pandas is free software released under the three-clause BSD license.

The name is derived from the term `Panel data`, an econometrics term for multidimensional structured data sets.

`Pandas` provides basic data structures that allow fast and efficient data manipulation. Pandas is built around `numpy`, however instead of providing data access through `sequential indexing`, pandas provides a `dictionary-like` access. `pandas` provides extensive set to functions for data manipulation. Thus it allows to build complex data analysis pipelines in python without need for external languages.

`Pandas.Dataframe` provides `pandas.Series` for 1D data and **Pandas.Dataframe** for 2D data.

We will first discuss the basic **2D List** from `Python base` library.

# 1. Two-dimensional list

A two-dimensional list in Python Base is an object (data store) that contains multiple 1D lists as its elements, either row-wise or column-wise. By default, a 2D list object is row-oriented. Thus, a Python 2D list is a collection of horizontal rows.

An element must be accessed by using two integer indexes; the first integer for row index and another for column index.

1. : create, access, aggregate data, shuffle
2. : Three cases
    - grade multiple-choice questions
    - solve closest-pair problem
    - check a Sudoku solution

# Script Set 1

Study the following script set which applies the functions in 11.2.

### Creation & Print

In [ ]:
# 1
# create an empty 2D list, matrix
# Insert a sequence of 100 integers 0-99 into a matrix of 10 rows by 10 columns
N = 100
values = list(range(N))
matrix = []
column_count = 10 # ten values per row
row_count = int(N/10) if N % 10 == 0 else int(N/10) + 1 #how many rows?

for row_index in range(row_count):
  new_row = values[row_index * column_count : (row_index + 1) * column_count]
  matrix.append(new_row) #append a list as a new row

  # alternatively
  #matrix.append([]) #add empty new row first
  #matrix[row_index] = new_row #then do assignment

import pprint #pretty print module
pprint.pprint(matrix)

[[0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
 [10, 11, 12, 13, 14, 15, 16, 17, 18, 19],
 [20, 21, 22, 23, 24, 25, 26, 27, 28, 29],
 [30, 31, 32, 33, 34, 35, 36, 37, 38, 39],
 [40, 41, 42, 43, 44, 45, 46, 47, 48, 49],
 [50, 51, 52, 53, 54, 55, 56, 57, 58, 59],
 [60, 61, 62, 63, 64, 65, 66, 67, 68, 69],
 [70, 71, 72, 73, 74, 75, 76, 77, 78, 79],
 [80, 81, 82, 83, 84, 85, 86, 87, 88, 89],
 [90, 91, 92, 93, 94, 95, 96, 97, 98, 99]]

#### Initalize a matrix with all zeros

In [ ]:
##
row_dim, col_dim = 5,5
zeros = [ [0 for column in range(col_dim)] for row in range(row_dim) ]
pprint.pprint(zeros)

[[0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0]]

### Aggregate functions

In [ ]:
# 2. len, max, min functions
# Using the 2d list `matrix` from the cell above.
print(len(matrix)) # read row count
print(max(matrix)) # find maximum per column, column-wise
print(max(max(matrix))) # double max for maximum of the entire matrix
print(min(matrix))
print(min(min(matrix)))

10
[90, 91, 92, 93, 94, 95, 96, 97, 98, 99]
99
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
0

### Read & Slice by Row

In [ ]:
# 3. Reading and Slicing
# Read an element by two integer indexes
print(matrix[0][0]) # read the first element at first row
print(matrix[-1][5]) # last row, 6th value from left
# Read a row by row index
print(matrix[0]) # pull the first row
print(matrix[-1]) # pull the last row
print(matrix[2:4]) # pull a slice of two rows with index 2 and 3
pprint.pprint(matrix[:5]) # pull the first five rows

0
95
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[90, 91, 92, 93, 94, 95, 96, 97, 98, 99]
[[20, 21, 22, 23, 24, 25, 26, 27, 28, 29], [30, 31, 32, 33, 34, 35, 36, 37, 38, 39]]
[[0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
 [10, 11, 12, 13, 14, 15, 16, 17, 18, 19],
 [20, 21, 22, 23, 24, 25, 26, 27, 28, 29],
 [30, 31, 32, 33, 34, 35, 36, 37, 38, 39],
 [40, 41, 42, 43, 44, 45, 46, 47, 48, 49]]

### Scan the matrix By index & By value

In [ ]:
# 4. Scan By index
# Scan elements in a matrix row-wise; repeat the same operation for each element
column_count = len(matrix[0])
row_count = len(matrix)
for row in range(row_count):
  for column in range(column_count):
    # print the value at position (row,column)
    print(f"matrix[{row}][{column}] = {matrix[row][column]}")

matrix[0][0] = 0
matrix[0][1] = 1
matrix[0][2] = 2
matrix[0][3] = 3
matrix[0][4] = 4
matrix[0][5] = 5
matrix[0][6] = 6
matrix[0][7] = 7
matrix[0][8] = 8
matrix[0][9] = 9
matrix[1][0] = 10
matrix[1][1] = 11
matrix[1][2] = 12
matrix[1][3] = 13
matrix[1][4] = 14
matrix[1][5] = 15
matrix[1][6] = 16
matrix[1][7] = 17
matrix[1][8] = 18
matrix[1][9] = 19
matrix[2][0] = 20
matrix[2][1] = 21
matrix[2][2] = 22
matrix[2][3] = 23
matrix[2][4] = 24
matrix[2][5] = 25
matrix[2][6] = 26
matrix[2][7] = 27
matrix[2][8] = 28
matrix[2][9] = 29
matrix[3][0] = 30
matrix[3][1] = 31
matrix[3][2] = 32
matrix[3][3] = 33
matrix[3][4] = 34
matrix[3][5] = 35
matrix[3][6] = 36
matrix[3][7] = 37
matrix[3][8] = 38
matrix[3][9] = 39
matrix[4][0] = 40
matrix[4][1] = 41
matrix[4][2] = 42
matrix[4][3] = 43
matrix[4][4] = 44
matrix[4][5] = 45
matrix[4][6] = 46
matrix[4][7] = 47
matrix[4][8] = 48
matrix[4][9] = 49
matrix[5][0] = 50
matrix[5][1] = 51
matrix[5][2] = 52
matrix[5][3] = 53
matrix[5][4] = 54
matrix[5][5] = 55
matrix[5][6] = 56
matrix[5][7] = 57
matrix[5][8] = 58
matrix[5][9] = 59
matrix[6][0] = 60
matrix[6][1] = 61
matrix[6][2] = 62
matrix[6][3] = 63
matrix[6][4] = 64
matrix[6][5] = 65
matrix[6][6] = 66
matrix[6][7] = 67
matrix[6][8] = 68
matrix[6][9] = 69
matrix[7][0] = 70
matrix[7][1] = 71
matrix[7][2] = 72
matrix[7][3] = 73
matrix[7][4] = 74
matrix[7][5] = 75
matrix[7][6] = 76
matrix[7][7] = 77
matrix[7][8] = 78
matrix[7][9] = 79
matrix[8][0] = 80
matrix[8][1] = 81
matrix[8][2] = 82
matrix[8][3] = 83
matrix[8][4] = 84
matrix[8][5] = 85
matrix[8][6] = 86
matrix[8][7] = 87
matrix[8][8] = 88
matrix[8][9] = 89
matrix[9][0] = 90
matrix[9][1] = 91
matrix[9][2] = 92
matrix[9][3] = 93
matrix[9][4] = 94
matrix[9][5] = 95
matrix[9][6] = 96
matrix[9][7] = 97
matrix[9][8] = 98
matrix[9][9] = 99

In [ ]:
# 5.
# Scan by value
for row in matrix:
  for element in row:
    print(f"{element}", end=',')

0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,

### Shuffle

In [ ]:
# 6. text 11.2.7 page 364
# Shuffling elements in matrix
# Alternative: using numpy module
import numpy as np

array = np.array(matrix) # convert a 2D list to a numpy array object
flat = array.flatten() # flatten 2D to 1D array
np.random.shuffle(flat) # by default, in-place shuffle
print(f"After random shuffle: {flat}")

# build 1d flat back to 10 by 10 matrix
# arg: shape is determined in a list of two integers
# 2nd integer: (2nd dim) column count is 10
# 1st integer: -1 (The row (1st dim) count is inferred from array's length and another dimension.)
flat.reshape([-1, 10]) # identical to [10,10]

After random shuffle: [99  5 38 11 89 17 57 61 73 91 19 86 81 92 21 60 62 16 56 22 93 42 24 77
 47 78  9 25 28 58 64 65 43 20 26 45 67 14 27 33 88 59  3 49  6 50 63  2
 94 79 41 95 40 32 54 72 29 53 31 84 46 39 51 13 97 69 36  8 85 82 66 96
 75  1 44 35 80 12 37 71 52  7 23 98 30 48 55 74 18 90 87 83 70 15 68  4
 76 34 10  0]

array([[99,  5, 38, 11, 89, 17, 57, 61, 73, 91],
       [19, 86, 81, 92, 21, 60, 62, 16, 56, 22],
       [93, 42, 24, 77, 47, 78,  9, 25, 28, 58],
       [64, 65, 43, 20, 26, 45, 67, 14, 27, 33],
       [88, 59,  3, 49,  6, 50, 63,  2, 94, 79],
       [41, 95, 40, 32, 54, 72, 29, 53, 31, 84],
       [46, 39, 51, 13, 97, 69, 36,  8, 85, 82],
       [66, 96, 75,  1, 44, 35, 80, 12, 37, 71],
       [52,  7, 23, 98, 30, 48, 55, 74, 18, 90],
       [87, 83, 70, 15, 68,  4, 76, 34, 10,  0]])

## Case 1

Text page 367: Study the case `Grading a multiple-choice test`

The following script is an alternative script.

Based on the case, do **Text page 382 11.4**.

In [ ]:
# 7
"""1. Data source
"""
import numpy as np
keys = ['D','B','D','C','C','D','A','E','A','D']
letters = list('ABCDE') #generate five letters in a list
# randomly generate a sample of 80 answers for 8 students and 10 questions
# specify the probabilities of each candidate letter in the sample
# reshape to 2D array of 8 rows by 10 columns,; convert to 2D list.
sample = np.random.choice(letters, 80).reshape([8,10])
answers = sample.tolist()
print(f"answers: {answers}")
"""2. Grading
"""
grades = []
for student in answers:
  scores = [ 1 if s == k else 0 for s,k in zip(student, keys) ]
  print(scores)
  grades.append(sum(scores))

print(f"Grades: {grades}")

answers: [['C', 'D', 'E', 'D', 'C', 'E', 'B', 'C', 'D', 'C'], ['C', 'C', 'A', 'B', 'A', 'D', 'E', 'B', 'C', 'C'], ['E', 'B', 'B', 'A', 'B', 'A', 'A', 'C', 'E', 'D'], ['D', 'C', 'D', 'E', 'A', 'C', 'B', 'E', 'C', 'E'], ['E', 'E', 'E', 'B', 'A', 'C', 'D', 'B', 'A', 'E'], ['A', 'E', 'B', 'C', 'D', 'D', 'A', 'B', 'C', 'E'], ['E', 'D', 'C', 'E', 'C', 'C', 'A', 'E', 'A', 'C'], ['E', 'D', 'E', 'E', 'E', 'E', 'C', 'C', 'D', 'A']]
[0, 0, 0, 0, 1, 0, 0, 0, 0, 0]
[0, 0, 0, 0, 0, 1, 0, 0, 0, 0]
[0, 1, 0, 0, 0, 0, 1, 0, 0, 1]
[1, 0, 1, 0, 0, 0, 0, 1, 0, 0]
[0, 0, 0, 0, 0, 0, 0, 0, 1, 0]
[0, 0, 0, 1, 0, 1, 1, 0, 0, 0]
[0, 0, 0, 0, 1, 0, 1, 1, 1, 0]
[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
Grades: [1, 1, 3, 3, 1, 3, 4, 0]

# Exercises

1. **Create a list for two-dimensional set of data with three rows and four columns with values $0$**

2. Page 381 11.1 Sum elements column by column.

3. **Page 382 11.4 (Refer to Case 1 script)**

4. Page 382 11.6 Multiply two matrices.